* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  background: linear-gradient(315deg, rgb(158, 17, 149) 3%, rgb(44, 165, 28) 38%, rgb(241, 106, 15) 68%, rgb(12, 9, 187) 98%);
  animation: gradient 45s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  padding-top: 120px;
  color: white;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 15px;
  background-color: rgba(240, 90, 3, 0.8);
  border-radius: 50px;
  filter: drop-shadow(7px 5px 4px #000000);
  border: 1px solid #000000;
  margin: 5px;
  width: calc(100vw - 100px);
  overflow: hidden;
  top: 20px;
  z-index: 1;
}

.searchContainer {
display: flex;
}

.searchBar {
  max-width: 110px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

section {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 100px);
  gap: 20px;
}

.card {
  background-color: rgba(240, 90, 3, 0.8);
  width: 180px;
  height: 250px;
  cursor: pointer;
  transition: 0.1s;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card img {
  height: 130px;
  transition: 0.1s;
}

.card img:hover {
  scale: 1.5;
  transition: 0.1s;
}

.card:hover {
  opacity: 1;
  -webkit-box-shadow: 4px 4px 8px 4px rgb(73, 78, 2); 
  box-shadow: 4px 4px 8px 4px rgb(73, 78, 2);
  scale: 1.05;
  transition: 0.1s;
  rotate: 1deg;
}

.cardHeader {
  display: flex;
  gap: 60px;
}

.idNumber {
  font-size: 12px;
}

.cardType {
  font-size: 14px;
  background-color: blue;
  border-radius: 10px;
  width: calc(100% + 13px);
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: calc(100vw - 100px);
  padding: 15px;
  background-color: rgba(240, 90, 3, 0.8);
  border-radius: 50px;
  font-size: 12px;
  filter: drop-shadow(7px 5px 4px #000000);
  border: 1px solid #000000;
  margin: 15px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: black;
  text-decoration: underline;
}

.bigCardContainer {
  display: flex;
  justify-content: center;
}

.bigCard {
  width: 40vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 10px;
}