* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Impact, Haettenschweiler, sans-serif ;
}

body {
  overflow: auto;
  background: linear-gradient(315deg, rgb(158, 17, 149) 3%, rgb(44, 165, 28) 38%, rgb(241, 106, 15) 68%, rgb(12, 9, 187) 98%);
  animation: gradient 45s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  padding-top: 120px;
  color: #334155;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 15px;
  background-color: rgba(240, 90, 3, 0.8);
  border-radius: 50px;
  filter: drop-shadow(7px 5px 4px #000000);
  border: 1px solid #000000;
  margin: 5px;
  width: calc(100vw - 100px);
  overflow: hidden;
  top: 20px;
  z-index: 1;
}

.searchContainer {
display: flex;
}

.searchBar {
  max-width: 110px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

section {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 100px);
  gap: 20px;
}

.card {
  width: 180px;
  height: 250px;
  cursor: pointer;
  transition: 0.1s;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.card img {
  height: 130px;
  transition: 0.1s;
}

.card img:hover {
  scale: 1.5;
  transition: 0.1s;
}

.card:hover {
  opacity: 1;
  -webkit-box-shadow: 4px 4px 8px 4px rgb(73, 78, 2); 
  box-shadow: 4px 4px 8px 4px rgb(73, 78, 2);
  scale: 1.05;
  transition: 0.1s;
  rotate: 1deg;
}

.cardHeader {
  display: flex;
  gap: 20px;
  max-width: 100%;
  margin: 10px;
}

.idNumber {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 12px;
}

.cardType {
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid black;
  width: calc(100% + 13px);
  display: flex;
  justify-content: center;
}

.cardFooter {
  display: flex;
  justify-content: right;
  width: 60%;
}

.typeContainer {
  padding-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.loadingButton {
  cursor: pointer;
  font-size: 18px;
  width: 80px;
  color: #334155;
  text-align: center;
  border-radius: 50px;
  transition: 0.1s;
}

.left {
  background: linear-gradient(270deg,#dd2c00, #038334 50%);
}

.right {
  background: linear-gradient(90deg,#dd2c00 0, #038334 50%);
}

.left:hover {
  rotate: -2deg;
  scale: 1.05;
  transition: 0.1s;
  box-shadow: -5px 5px 8px 5px rgba(73, 78, 2, 0.8);
  border-radius: 50px 0px 0px 50px;
}

.right:hover {
  rotate: 2deg;
  scale: 1.05;
  transition: 0.1s;
  box-shadow: 5px 5px 8px 5px rgba(73, 78, 2, 0.8);
  border-radius: 0px 50px 50px 0px;
}

footer {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: calc(100vw - 100px);
  padding: 15px;
  background-color: rgba(240, 90, 3, 0.8);
  border-radius: 50px;
  font-size: 12px;
  filter: drop-shadow(7px 5px 4px #000000);
  border: 1px solid #000000;
  margin: 15px;
}

.footer a {
  color: #334155;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.bigCardContainer {
  display: flex;
  justify-content: center;
}

.bigCard {
  width: 40vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 10px;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}
